.bar {
  background-color: #1daee0;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: auto;
  margin-top: 12rem;
  left: 50%;
  /* padding-top: 2rem; */
  color: #f6f6f6;
}

.aboutBar {
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 1.0875rem 2.45rem;
}

.mug {
  /* transform: translateY(-50%); */
  margin-top: -250px;
  display: flex;
  justify-content: center;
  max-width: 400px;
  object-fit: cover;
  /* height: 400px; */
  width: 400px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 550px) {
  .mug {
      width: 80%;
      margin-top: -200px;
  }
}

.CVButton {
  padding: .75rem 4rem .75rem 4rem;
  border-radius: 9999px;
  border: 0.25rem solid #222d46;
  background-color: #222d46;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  font-weight: 700;
  /* font-size: 1.125rem; */
  transition: 0.3s;
}

.CVButton:hover {
  background-color: black;
  border: 0.25rem solid black;
  color: #fff;
}

.bio {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.timeline {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.vertical-timeline {
  width: 40%;
  margin-left: 0;
  display: block;
  clear: both;
  position: relative;

}

.vertical-timeline:nth-child(2n) {
  float: right;
  margin-right: 0;
  display: block;
}

@media (max-width: 550px) {
  .vertical-timeline {
    width: 80%;
    margin-left: 60px;
    display: block;
  }

  .vertical-timeline:nth-child(2n) {
      float: none;
  }
  .timeline:before {
      content: "";
      position: absolute;
      left: 18px;
      height: 100%;
      width: 4px;
      background: #fff;
  }
}

@media only screen and (min-width: 550px) {
.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 4px;
  background: #fff;
}
}
