footer {
  margin-top: 50px;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: auto;
  left: 50%;
  /* background-color: green; */
}

.socials {
  float: left;
}

.socials > ul {
  margin-left: 0px;
}

.links > nav {
  float: right;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding-right: 16px;
  margin: 0px;
  font-size: 1.5em;
}


.footerDes {
  display: block;
  line-height: 20px;
  font-weight: 400;
  font-size: 0.7em;
  font-family: Helvetica
}

.footerLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footContainer {
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
}
