html {
  font-size: 16px;
}
@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}
/* @media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
}
@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;
  }
} */

h1 {
  font-size: 3rem;
  line-height: 1.25;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 0px;
}

h3 {
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 400;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h5 {
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
}

h6 {
  font-size: 0.75rem;
  display: inline;
  line-height: 1.25;
  font-weight: 700;
  padding: 5px;
  color: white;
  background-color: black;
  text-transform: uppercase;
}

.tag {

  background-color: black;
  padding: 0px;
  margin-left: 0px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

section {
  padding-top: 2rem;
}

.layout {
  margin: 0 auto;
  max-width: 960;
  padding: 0 1.0875rem 1.45rem;
}

.container {
  height: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
