html {
  background-color: #b1dddb;
  /* background-color: #deebf6; */
}

.islands {
  /* margin-top: 500px; */
}

.headText {
  margin-top: 5.5vh;
  max-width: 500px;
  position: absolute;
}

@media (max-width: 700px) {
  .headText {
    position: relative;
  }
}

.tech {
  background-color: #1daee0;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: auto;
  margin-top: -10px;
  left: 50%;
  padding-top: 2rem;
  color: #f6f6f6;
}

.techBanner {
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
}

.techGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .techGrid {
      grid-template-columns: repeat(3,minmax(0,1fr));
  }
}

@media (max-width: 640px) {
  .techGrid {
      grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

@media (max-width: 450px) {
  .techGrid {
      grid-template-columns: repeat(1,minmax(0,1fr));
  }
}

.techItem {
  padding: 1rem;
  border: 0.5px solid #d2d6dc;
  border-radius: 5px;
}

.projectGridHome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1px 1px;
  grid-auto-rows: min-content;
  /* grid-template-areas: ". . ."; */
  row-gap: 1rem;
  column-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 550px) {
  .projectGridHome {
      grid-template-columns: repeat(1,minmax(0,1fr));
  }
}

@media (min-width: 550px) {
  .projectGridHome .projectCard:nth-child(1) {
    grid-column: 1 / 3;
     grid-row: 1 / 3;
  }


  .projectGridHome .projectCard:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .projectGridHome .projectCard:nth-child(2) .postDes,
  .projectGridHome .projectCard:nth-child(3) .postDes {
    display: none;
  }

  .projectGridHome .projectCard:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}



/* .projectGridHome .projectCard:nth-child(2) img,
.projectGridHome .projectCard:nth-child(3) img {
  height: 150px;
} */




.projectCard {
  /* height: 100%; */
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
